<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styleForAdd.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <style type="text/css">
          @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
        <script src="js/loadFile.js"> </script>
        <title>HELLO</title>
    </head>
    <body>
        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 100;">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand col-md-3" style="float: none; margin:0 auto;" href="#">AULOG</a>
              <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      기록실
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">일기장</a></li>
                      <li><a class="dropdown-item" href="#">나의 통계</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">랭킹</a>
                  </li>
                </ul>
                <br>
                <br>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="검색어 입력" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              </div>
            </div>
          </nav>
        </header>


        <section>
        <p class="h2" style="margin-top: 20px ;">일상</p>
        <div class="selectedImg" style="text-align: center; ">
            <img src="assets/images/1234.jpg" style= "width: 400px; height: 400px;">

        </div>

        <div class="d-grid gap-2 d-md-block" style="text-align: center;">
            
            <p class="hashTagSmallGroup">
            <button class="btn btn-primary" type="button" style="margin-right: 200px; margin-top: 50px; width: 100px;">#한남동</button>
            <button class="btn btn-primary" type="button" style="margin-top: 50px; width: 100px;">#도넛</button>
            </p>
            <p class="hashTagSmallGroup">
                <button class="btn btn-primary" type="button" style="margin-right: 200px; margin-top: 10px; width: 100px;">#와플</button>
                <button class="btn btn-primary" type="button" style="margin-top: 10px; width: 100px;">#커피</button>
            </p>
            <p class="hashTagSmallGroup">
                <button class="btn btn-primary" type="button" style="margin-right: 200px; margin-top: 10px; width: 100px;">#서울</button>
                <button class="btn btn-primary" type="button" style="margin-top: 10px; width: 100px;">#강쥐</button>
            </p>
            
        </div>


        </section>


        <footer>

        </footer>
    </body>
</html>