<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylecheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
        <script src="js/header.js"></script>
        <script src="js/main_page.js"></script>
        <title>HELLO</title>
    </head>
    <body>
        <header>
        </header>


        <section>
          <div id="div-content">
            <p class="h2">인기 일상</p>
            <!-- <a href="login">로그인 하고 싶어요</a>
            <a href="add">비밀의방</a>
            <a href="post">문장추천</a> -->
            <hr>
            <p><i class="fa-solid fa-wrench"></i>&nbsp이 기능은 아직 준비중 이예요!&nbsp<i class="fa-solid fa-wrench"></i></p>
            <p><i class="fa-solid fa-light-emergency-on"></i>&nbsp얌전히 기다리지 않으면 또 돌립니다.&nbsp<i class="fa-solid fa-light-emergency-on"></i></p>
            <!-- <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">로딩중</span>
            </div> -->
            <br>
            <br>
            <p class="h2 font-weight-bold">나의 기록</p>
            <hr>

            <div id="div-my-posts">
              아직 글이 없어요. 글을 작성해볼까요 ?
            </div>            
          </div>

          
          <button type="button" class="btn btn-dark" style="position: fixed; bottom: 30px; right: 20px; width: 100px; height: 45px;" onclick="location.href = 'post';">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
              <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg> 글 작성
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="#212529" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
          </button>
        </section>


        <footer>

        </footer>
    </body>
</html>