<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylecheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/image_upload.js"></script>
        <script src="js/header.js"></script>
        <title>HELLO</title>
    </head>
    <body>
        <header>
          
        </header>


        <section>

          <div style="margin-top: 20px; margin-left: 5%; margin-right: 5%">
            <p class="h1">글 작성하기</p>
            <br>

            <p class="h3">분류 설정</p>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    취미/풍경이란?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><code>풍경사진</code>이나, <code>하나를 대상으로 하는</code> 사진에 대한 분석을 더 잘 할 수 있어요.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    일상이란?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><code>음료가 있는 카페 사진</code>같은 <code>다양한 대상이 있는</code> 사진에 대한 분석을 더 잘 할 수 있어요.</div>
                </div>
              </div>
            </div>
            <br>

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">취미/풍경</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">일상</label>
            </div>

            <br>
            <br>

            <p class="h3">사진 올리기</p>
            <hr>
            <div class="input-group">
              <input type="file" name="uploadfile" id="uploadImgInput" multiple style="display:none;" onchange="uploadFileAdded()"/>
              <label class="btn btn-primary" for="uploadImgInput">이미지 선택</label>
            </div>
            <br>
            <p class="h3">업로드 대상 사진</p>
            <hr>

            <div id="div-upload-image"></div>
            <button id="btn-img-upload" type="button" class="btn btn-primary" onclick="startUpload();">업로드</button>
            <br>
            <br>

            <p class="h3">태그</p>
            <hr>
            <div id="div-tag-btns">
            </div>
            <br>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">태그 추가</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <br>
            <p class="h3">본문 작성</p>
            <hr>
            <input id="post-title" class="form-control form-control-lg" type="text" placeholder="제목입력" aria-label=".form-control-lg example" style="margin-bottom: 10px;">
            <div class="mb-3">
              <!-- <label for="exampleFormControlTextarea1" class="form-label"></label> -->
              <textarea class="form-control" id="postTextAreaReadOnly" rows="8" style="resize: none;" readonly></textarea>
            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              수정하기
            </button>

            <br>
            <br>
            <p class="h3">부가 설정</p>
            <hr>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="openPostSwitch">
              <label class="form-check-label" for="openPostSwitch">전체공개</label>
            </div>
            <br>
            <!-- Button trigger modal -->
            <button id="btn-post-submit" type="button" class="btn btn-primary" style="width:100%; height: 50px; margin-bottom: 10px;" onclick="submitPost();">
              글 등록하기
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">문장 수정하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                    <div style="margin-bottom: 10px;">
                      <h5>문장 추천</h5>
                      <hr>
                      <div class="bs-callout bs-callout-primary">
                        사진과 <code><b>관련성이 높은 분류</b></code>가 자동으로 선택됩니다.
                      </div>
                      <div class="input-group mb-3">
                        <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button> -->
                        <span>
                          <select class="form-select w-100" id="postSelectClass" aria-label="">
                            <option value="0" selected>낚시</option>
                            <option value="1">레저</option>
                            <option value="2">캠핑</option>
                            <option value="3">워터파크</option>
                            <option value="4">역사유적지</option>
                            <option value="5">공부</option>
                            <option value="6">전시회</option>
                            <option value="7">아이</option>
                            <option value="8">카페</option>
                            <option value="9">음식</option>
                          </select>
                        </span>
                        
                        <input id="inp-recommand-word" class="form-control" type="text" placeholder="추천받을 단어 입력" aria-label="" onchange="loadSentence();">
                      </div>
                      <div id="div-recommand-sentences" class="list-group">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" onclick="loadSentence();">다시생성</button>
                      <button type="button" class="btn btn-primary" onclick="addSelectedSentence();">추가</button>
                    </div>
                    <h5>내용 편집</h5>
                    <hr>
                    <div class="mb-3">
                      <!-- <label for="exampleFormControlTextarea1" class="form-label"></label> -->
                      <textarea class="form-control" id="postTextArea" rows="6" style="resize: none;"></textarea>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="editPost();">수정</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteImageDialog" tabindex="-1" aria-labelledby="deleteImageDialogLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteImageDialogLabel">이미지 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                    <p id="p-delete-dialog">이미지를 삭제하시겠습니까?</p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteImage();">삭제</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="successUploadDialog" tabindex="-1" aria-labelledby="successUploadDialogLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="successUploadDialogLabel">이미지 업로드</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                    <p id="p-upload-dialog">업로드에 성공했습니다!</p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          
        </section>


        <footer>
          
        </footer>
    </body>
</html>