<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <style type="text/css">
          @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/login_register.js"></script>
        <script src="js/header.js"></script>
        <title>HELLO</title>
    </head>
    <body>
        <header>
          
        </header>


        <section>
          <div>
            <div id="div-alert">
              
            </div>
            
            
            <div class="div-loginForm">
              <fieldset class="form-group border p-3">
                <legend class="float-none w-auto p-2">회원가입</legend>
                <div class="div-loginFormInner">
                  <div class="form-floating mb-3 ">
                    <input type="text" class="form-control" id="registerId" placeholder="">
                    <label id="registerIdLabel" for="registerId">아이디</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="registerPw" placeholder="">
                    <label for="registerPw">비밀번호</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="registerPw2" placeholder="">
                    <label id="registerPw2Label" for="registerPw2">비밀번호 확인</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="registerNick" placeholder="">
                    <label id="registerNickLabel" for="registerNick">닉네임</label>
                  </div>

                  <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="registerEmail" placeholder="" value="">
                        <label for="registerEmail">이메일</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <select class="form-select" id="registerEmailDomain" aria-label="Floating label select example">
                          <option value="0" selected>직접입력</option>
                          <option value="1">@naver.com</option>
                          <option value="2">@gmail.com</option>
                          <option value="3">@hanmail.net</option>
                        </select>
                        <label for="registerEmailDomain">도메인</label>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="requestRegister" class="btn btn-primary" style="width: 100%; height: 50px;" type="submit">가입요청</button>
              </fieldset>
            </div>
          </div>

          <div class="modal fade" id="dialog" tabindex="-1" aria-labelledby="dialogLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="dialogLabel">가입 성공</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <p id="p-delete-dialog">가입에 성공했습니다.</p>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="dialogOk();">확인</button>
                </div>
              </div>
            </div>
          </div>
        </section>


        <footer>
          
        </footer>
    </body>
</html>