* {
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
    font-family: 'NanumGothic';
}
@media (max-width: 768px) {
    .navbar-collapse {
        position: fixed;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        height: 100%;
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        height: 100%;
        left: 0;
        transition: left 400ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 400ms ease-in;
    }
}

#div-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.card {
    width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.div-loginForm {
    margin-left: 5%;
    margin-right: 5%;
}

.div-loginFormInner {
    margin-bottom: 20px;
}

.div-loginFormBottom {
    margin-top: 10px;
}

#div-upload-image {
    margin-bottom: 10px;
}